{extend name="./layout/form.html" /}

{block name="body"}
<div class="secWrap">
    <form class="layui-form centerBox">
        <div class="layui-form-item">
            <label class="layui-form-label">{:session('language') == '中文'? '用户名称' : 'Name'}</label>
            <div class="layui-input-block">
                <input name="name" value="{$name}" disabled autocomplete="off" placeholder="" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:session('language') == '中文'? '密码' : 'Password'}</label>
            <div class="layui-input-block">
                <input name="password" autocomplete="off" placeholder="" class="layui-input" type="password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:session('language') == '中文'? '确认密码' : 'Password Confirm'}</label>
            <div class="layui-input-block">
                <input name="password_confirm" autocomplete="off" placeholder="" class="layui-input" type="password">
            </div>
        </div>
    </form>

    <div class="layui-layer-btn layui-layer-btn- bottm_control">
        <a class="layui-layer-btn0" id="submit">{:session('language') == '中文'? '确认' : 'OK'}</a>
        <a class="layui-layer-btn1" id="cancel">{:session('language') == '中文'? '取消' : 'Cancel'}</a>
    </div>
</div>
{/block}

{block name="js"}
<!--表单提交-->
<script>
    layui.use('form', function() {
        // 表单验证
        var validatorFunc = function () {
            var validator = new Validator();

            // 密码
            validator.add('password', [{
                rule: 'require',
                msg: '密码不能为空'
            }, {
                rule: 'length:6,20',
                msg: '密码的长度为6-20个字符'
            }, {
                rule: 'confirm',
                msg: '两次密码不一致'
            }]);

            return validator.start();
        };

        // 表单提交
        $('#submit').on('click', function () {
            // 表单验证
            var errorMsg = validatorFunc();
            if (errorMsg) {
                layer.alert(errorMsg, {title: '提示'});
                return false;
            }

            // 获取要提交的密码
            var data = {
                "password": $('[name=password]').val(),
                "password_confirm": $('[name=password_confirm]').val()
            };

            $.ajax({
                url: "{:url('admin/admin/updatePassword', ['id' => $id])}",
                type: 'put',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.alert(res.msg, {'title': '提示'}, function (index) {
                        // 关闭alert
                        layer.close(index);

                        // 关闭弹窗
                        qx();
                    });
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 422) {
                        layer.alert(jqXHR.responseText, {title: '提示'}, function (index) {
                            layer.close(index);
                        });
                    }
                }
            });
        });
		
		// 取消
		function qx(){
		    var index = top.layer.getFrameIndex(window.name);
		    top.layer.close(index);
		}
		
		$('#cancel').on('click', function() {
		    qx();
		});
    });
</script>
{/block}