{extend name="./layout/list.html" /}

{block name="body"}
<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
                <div class="position_lead">
                    <i class="iconfont icon-navigation"></i>
                    <a>{:session('language') == '中文'? '消息提醒' : 'Message Reminding'}</a>
                    <a class="on">{:session('language') == '中文'? '消息列表' : 'Message List'}</a>
                </div>
                <div class="global_btn">
                    <a class="layui-btn delete_btn" id="del">{:session('language') == '中文'? '删除' : 'Delete'}</a>
                </div>
            </div>
            <div class="mainCt">
                <div class="mainWrap">
                    <div class="forwardTable">
                        <table class="layui-hide" id="admin" lay-data="{id:'admin'}" lay-filter="admin"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}

<!--行工具-->
<script type="text/html" id="barDemo">
    <div class="table_btn">
        <a class="layui-btn layui-btn-xs com_btn" lay-event="look">{:session('language') == '中文'? '查看' : 'View'}</a>
    </div>
</script>

<!--脚本-->
<script type="text/javascript">

    layui.use(['layer', 'table'], function () {
        var layer = top.layer;
        var table = layui.table;
		var cols;
		
		// 切换语言
		var language = "{:session('language') == '中文'? '中文' : 'english'}";
		
		if(language === '中文'){
			cols = [[
                {type: 'checkbox', fixed: 'left'},
			    {field: 'cn_title', title: '标题', sort:true},
                {field: 'status', title: '消息状态', sort:true,
                    templet: function (d) {
                        if (d.status == 'UnRead') {
                            return "<span style='color:red'>" + d.status + "</span>";
                        }else{
                            return "<span>" + d.status + "</span>";
                        }
                    }
                },
                {field: 'create_time', title: '创建时间', width: 150, sort:true},
			    {width: 80, title: '操作', align: 'center', toolbar: '#barDemo'}
			]]
		}else{
			cols = [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'en_title', title: 'Title', sort:true},
                {field: 'status', title: 'Status', sort:true,
                    templet: function (d) {
                        if (d.status == 'UnRead') {
                            return "<span style='color:red'>" + d.status + "</span>";
                        }else{
                            return "<span>" + d.status + "</span>";
                        }
                    }
                },
                {field: 'create_time', title: 'Create Time', width: 150, sort:true},
			    {width: 80, title: 'Action', align: 'center', toolbar: '#barDemo'}
			]]
		}

        // 渲染表格数据
        tableIns = table.render({
            elem: '#admin',
            //toolbar: '#forwardBar',
            toolbar:false,
            url: "{:url('index/msg')}",
            cols: cols,
            page:true
        });

        //批量删除(多选操作)
        $('#del').click(function () {
            var checkStatus = table.checkStatus('admin');
            var idstr = ''; var cd = checkStatus.data.length;

            if(cd !== 0){
                for(var i=0; i<cd; i++){
                    idstr +=  checkStatus.data[i].id + ',';
                }
                // 去除多余符号
                idstr = idstr.substring(0, idstr.length - 1);

                layer.confirm('Confirm？', function(index){
                    // 向服务器发送删除请求
                    $.ajax({
                        type: 'get',
                        url: "{:url('index/batch_delete')}",
                        data: {id : idstr},
                        // 删除成功
                        success: function (res) {
                            layer.alert(res.msg, {title: '提示'}, function (index) {
                                // 表格重载
                                tableIns.reload();
                                // 关闭alert
                                layer.close(index);
                            });
                        },
                        error: function (jqXHR) {
                            // 删除失败
                            if (jqXHR.status === 422) {
                                layer.alert(jqXHR.responseText, {title: '提示'}, function (index) {
                                    layer.close(index);
                                });
                            }
                        }
                    });
                });
            }else{

                if(language === '中文') {
                    layer.alert('请先勾选要删除的数据再操作');
                }else{
                    layer.msg('Please check the box before operating');
                }
            }
        });

        //监听工具条
        table.on('tool(admin)', function (obj) {

            var id = obj.data.id; //获得当前行数据
            var layEvent = obj.event;//获得 lay-event 对应的值

            if (layEvent === 'look') {

                parent.layer.open({  // 在父窗口打开
                    type: 2,
                    title: '查看',
                    maxmin: true,
                    area: ['700px', '500px'],
                    content: replaceEditUrlId("{:url('index/read', ['id' => 1])}", id)
                    ,end: function () {

                        // 改变消息状态
                        $.ajax({
                            type: 'get',
                            url: "{:url('index/msg_status')}",
                            data: {status: 1, id:id},
                            // 成功
                            success: function (res) {

                                window.location.reload();
                            }
                        })
                    }
                });
            }
        });
    });
</script>
{/block}