{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
			<div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? '客户管理' : 'Customer Management'}</a>
					<a href="{:url('mk_customer/index')}">{:session('language') == '中文'? '客户信息' : 'Customer'}</a>

				</div>
				<div class="global_btn">

					{if(request()->action() !== 'read')}
					<button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>
					{/if}

					<a href="javascript:history.back(-1);">
						<button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
					</a>
				</div>
			</div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('mk_customer/update')}">

                        <div class="layui-row layui-col-space10">

							{if(request()->action() == 'read')}
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '登记日期' : 'Register Date'}">
										{:session('language') == '中文'? '登记日期' : 'Register Date'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Register_Date" value="{$info.Register_Date|default=''}" disabled type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '更新时间' : 'Update Date'}">
										{:session('language') == '中文'? '更新时间' : 'Update Date'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Update_Date" value="{$info.Update_Date|default=''}" disabled type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							{/if}

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司' : 'Subject Company'}">
										{:session('language') == '中文'? '主体公司' : 'Subject Company'}
									</label>
									<div class="layui-input-block">
										<select name="Subject_Company" lay-filter="Subject_Company" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$gs" id="v"}
											<option value="{:session('language') == '中文'? $v.cn_name : $v.en_name}" {$gs_id==$v.id?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>
							
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '销售' : 'Sales'}">
                                        {:session('language') == '中文'? '销售' : 'Sales'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Sales" lay-verify="required" value="{$info.Sales|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
														
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '客户联系人' : 'Attention'}">
							            {:session('language') == '中文'? '客户联系人' : 'Attention'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Attention" lay-verify="required" value="{$info.Attention|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
														
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '所在部门' : 'Department'}">
							            {:session('language') == '中文'? '所在部门' : 'Department'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Department" lay-verify="required" value="{$info.Department|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
														
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司全称' : 'Company Full Name'}">
							            {:session('language') == '中文'? '公司全称' : 'Company Full Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Full_Name" lay-verify="required" value="{$info.Company_Full_Name|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
														
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司名称' : 'Company Name'}">
							            {:session('language') == '中文'? '公司名称' : 'Company Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Name" lay-verify="required" value="{$info.Company_Name|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司地址' : 'Company Address'}">
							            {:session('language') == '中文'? '公司地址' : 'Company Address'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Address" lay-verify="required" value="{$info.Company_Address|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '国家' : 'Country'}">
							            {:session('language') == '中文'? '国家' : 'Country'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Country" lay-verify="required" value="{$info.Country|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '职位' : 'Position'}">
							            {:session('language') == '中文'? '职位' : 'Position'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Position" lay-verify="required" value="{$info.Position|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '移动电话号码1' : 'Mobile 1'}">
							            {:session('language') == '中文'? '移动电话号码1' : 'Mobile 1'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Mobile1" lay-verify="required" value="{$info.Mobile1|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '移动电话号码2' : 'Mobile 2'}">
							            {:session('language') == '中文'? '移动电话号码2' : 'Mobile 2'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Mobile2" lay-verify="required" value="{$info.Mobile2|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
													
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '固定电话号码1' : 'Office Number 1'}">
							            {:session('language') == '中文'? '固定电话号码1' : 'Office Number 1'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Office_Number1" lay-verify="required" value="{$info.Office_Number1|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '固定电话号码2' : 'Office Number 2'}">
							            {:session('language') == '中文'? '固定电话号码2' : 'Office Number 2'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Office_Number2" lay-verify="required" value="{$info.Office_Number2|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '邮箱1' : 'Email1'}">
							            {:session('language') == '中文'? '邮箱1' : 'Email1'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Email1" lay-verify="required" value="{$info.Email1|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '邮箱2' : 'Email2'}">
							            {:session('language') == '中文'? '邮箱2' : 'Email2'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Email2" lay-verify="required" value="{$info.Email2|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '状态' : 'Status'}">
							            {:session('language') == '中文'? '状态' : 'Status'}
							        </label>
							        <div class="layui-input-block">
										<select name="Status" lay-filter="Status">
											<option value="在职" {$info.Status=="在职"?'selected':''}>{:session('language') == '中文'? '在职' : 'On job'}</option>
											<option value="离职" {$info.Status=="离职"?'selected':''}>{:session('language') == '中文'? '离职' : 'leave office'}</option>
										</select>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '关联' : 'Link'}">
							            {:session('language') == '中文'? '关联' : 'Link'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Link" lay-verify="required" value="{$info.Link|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司编码' : 'Company Code'}">
							            {:session('language') == '中文'? '公司编码' : 'Company Code'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Code" disabled value="{$info.Company_Code|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
													
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '合同编码' : 'Contract Number'}">
							            {:session('language') == '中文'? '合同编码' : 'Contract Number'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Contract_Number" disabled value="{$info.Contract_Number|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司税号' : 'Subject Company VAT ID'}">
										{:session('language') == '中文'? '主体公司税号' : 'Subject Company VAT ID'}
									</label>
									<div class="layui-input-block">
										<input name="Subject_Company_VAT_ID" value="{$info.Subject_Company_VAT_ID}" autocomplete="off" placeholder="" readonly class="layui-input" type="text">
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司地址' : 'Subject Company Address'}">
										{:session('language') == '中文'? '主体公司地址' : 'Subject Company Address'}
									</label>
									<div class="layui-input-block">
										<input name="Subject_Company_Address" value="{$info.Subject_Company_Address}" autocomplete="off" placeholder="" readonly class="layui-input" type="text">
									</div>
								</div>
							</div>

							<div class="layui-col-xs6">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司银行信息' : 'Subject Company Bank Info'}">
										{:session('language') == '中文'? '主体公司银行信息' : 'Subject Company Bank Info'}
									</label>
									<div class="layui-input-block">
										<textarea placeholder="" name="Subject_Company_Bank_Info" readonly class="layui-textarea">{$info.Subject_Company_Bank_Info}</textarea>
									</div>
								</div>
							</div>
							
                            <div class="layui-col-xs6">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '备注' : 'Remarks'}">
                                        {:session('language') == '中文'? '备注' : 'Remarks'}
                                    </label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="" id="Remarks" name="Remarks" class="layui-textarea">{$info.Remarks|default=''}</textarea>
                                    </div>
                                </div>
                            </div>

							<input type="hidden" name="id" value="{$info.id}" />
							
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}
<script>

	layui.use(['form','laydate'], function () {
		var form = layui.form, laydate = layui.laydate,layer = layui.layer;
        var language = "{:session('language')}";

		//同时绑定多个,单个日期选择，显示在input里面
		$('.showDate').click(function () {
			laydate.render({
				elem: this
				,trigger: 'click'
				,theme: '#1B3382'
				,position: 'fixed'
				//,isInitValue: true
				//,value: new Date()
				//,type:'datetime'
				,format: 'yyyyMMdd'
			});
		});

        // 主体公司 下拉选择器值发生变化
        form.on('select(Subject_Company)', function (data) {
            var name = data.value;
            //console.log(name);

            //异步拉取信息
            $.ajax({
                type: 'get',
                url: "{:url('xt_company/get_info')}",
                data: {'name': name},
                dataType: 'json',
                success: function (res) {
                    //console.log(res.data);
                    var info = res.data;

                    $('#form [name=Subject_Company_VAT_ID]').val(info.VAT_ID);

                    // 判断语言
                    if(language === '中文') {
                        $('#form [name=Subject_Company_Address]').val(info.CN_Address);
                        $('#form [name=Subject_Company_Bank_Info]').val(info.CN_Bank_Info);
                    }else{
                        $('#form [name=Subject_Company_Address]').val(info.EN_Address);
                        $('#form [name=Subject_Company_Bank_Info]').val(info.EN_Bank_Info);
                    }
                }
            })
        });

		// 表单验证
		var validatorFunc = function () {
			var validator = new Validator();

            validator.add('Company_Name', [{
                rule: 'require',
                msg: '公司名称不能为空'
            }]);

			// 邮件
			validator.add('Email1', [{
				rule: 'email',
				msg: '邮箱格式错误'
			}]);

			validator.add('Email2', [{
				rule: 'email',
				msg: '邮箱格式错误'
			}]);

			return validator.start();
		};

		// 数据提交
		$('#save').on('click', function () {

			// 表单验证
			var errorMsg = validatorFunc();
			if (errorMsg) {
				layer.alert(errorMsg, {title: '提示'});
				return false;
			}

            var tip = layer.msg('Data Uploading', {icon: 16, shade: 0.3, time:3000});

			// 表单提交
			$('#form').submit();
		});
	})
</script>
{/block}