{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
			<div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? '客户管理' : 'Customer Management'}</a>
					<a href="{:url('mk_inquiry/index')}">{:session('language') == '中文'? '来稿需求' : 'Inquiry'}</a>
				</div>
				<div class="global_btn">
					<button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

					<a href="javascript:history.back(-1);">
						<button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
					</a>
				</div>
			</div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('mk_inquiry/save')}">

                        <div class="layui-row layui-col-space10">

							<!--编号选择-->
							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '合同编码' : 'Contract Number'}">
										{:session('language') == '中文'? '合同编码' : 'Contract Number'}
									</label>
									<div class="layui-input-block">
										<select name="Contract_Number" lay-filter="Contract_Number" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$contract_code" id="v"}
											<option value="{$v.Contract_Number}">{$v.Contract_Number}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司' : 'Subject Company'}">
										{:session('language') == '中文'? '主体公司' : 'Subject Company'}
									</label>
									<div class="layui-input-block">
										<select name="Subject_Company" lay-filter="Subject_Company" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$gs" id="v"}
											<option value="{:session('language') == '中文'? $v.cn_name : $v.en_name}">{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>
                            
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '销售' : 'Sales'}">
                                        {:session('language') == '中文'? '销售' : 'Sales'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Sales" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '客户联系人' : 'Attention'}">
							            {:session('language') == '中文'? '客户联系人' : 'Attention'}
							        </label>
							        <div class="layui-input-block">
										<select name="Attention" id="Attention" lay-filter="Attention" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
										</select>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '所在部门' : 'Department'}">
							            {:session('language') == '中文'? '所在部门' : 'Department'}
							        </label>
							        <div class="layui-input-block">
										<select name="Department" id="Department" lay-filter="" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
										</select>
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司全称' : 'Company Full Name'}">
							            {:session('language') == '中文'? '公司全称' : 'Company Full Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Full_Name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司名称' : 'Company Name'}">
							            {:session('language') == '中文'? '公司名称' : 'Company Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '是否首次合作？' : 'First Cooperation'}">
							            {:session('language') == '中文'? '是否首次合作？' : 'First Cooperation'}
							        </label>
							        <div class="layui-input-block">
										<select name="First_Cooperation" lay-filter="First_Cooperation" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$first" id="v"}
											<option value="{$v.en_name}">{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '税率' : 'VAT Rate'}">
										{:session('language') == '中文'? '税率' : 'VAT Rate'}
									</label>
									<div class="layui-input-block">
										<select name="VAT_Rate" lay-filter="VAT_Rate" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$vat_rate" id="v"}
											<option value="{$v.en_name}">{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
									</div>
									<span class="signTip">%</span>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '增值税额' : 'VAT Amount'}">
										{:session('language') == '中文'? '增值税额' : 'VAT Amount'}
									</label>
									<div class="layui-input-block">
										<input name="VAT_Amount" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '报价金额' : 'Quote Amount'}">
										{:session('language') == '中文'? '报价金额' : 'Quote Amount'}
									</label>
									<div class="layui-input-block">
										<input name="Quote_Amount" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '币种' : 'Currency'}">
										{:session('language') == '中文'? '币种' : 'Currency'}
									</label>
									<div class="layui-input-block">
										<select name="Currency" lay-filter="Currency" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$currency" id="v"}
											<option value="{$v.en_name}">{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '项目经理' : 'PM'}">
										{:session('language') == '中文'? '项目经理' : 'PM'}
									</label>
									<div class="layui-input-block">
										<select name="PM" lay-filter="PM" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$pm" id="v"}
											<option value="{$v.name}">{$v.name}</option>
											{/volist}
										</select>
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司税号' : 'Subject Company VAT ID'}">
										{:session('language') == '中文'? '主体公司税号' : 'Subject Company VAT ID'}
									</label>
									<div class="layui-input-block">
										<input name="Subject_Company_VAT_ID" lay-verify="required" autocomplete="off" placeholder="" readonly class="layui-input" type="text">
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司地址' : 'Subject Company Address'}">
										{:session('language') == '中文'? '主体公司地址' : 'Subject Company Address'}
									</label>
									<div class="layui-input-block">
										<input name="Subject_Company_Address" lay-verify="required" autocomplete="off" placeholder="" readonly class="layui-input" type="text">
									</div>
								</div>
							</div>

							<div class="layui-col-xs12">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '主体公司银行信息' : 'Subject Company Bank Info'}">
										{:session('language') == '中文'? '主体公司银行信息' : 'Subject Company Bank Info'}
									</label>
									<div class="layui-input-block">
										<textarea placeholder="" id="Subject_Company_Bank_Info" name="Subject_Company_Bank_Info" readonly class="layui-textarea"></textarea>
									</div>
								</div>
							</div>
							
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}
<script>

	layui.use(['form','laydate'], function () {
		var form = layui.form, laydate = layui.laydate,layer = layui.layer;
        var language = "{:session('language')}";

		//同时绑定多个,单个日期选择，显示在input里面
		$('.showDate').click(function () {
			laydate.render({
				elem: this
				,trigger: 'click'
				,theme: '#1B3382'
				,position: 'fixed'
				//,isInitValue: true
				//,value: new Date()
				//,type:'datetime'
				,format: 'yyyyMMdd'
			});
		});

		// 合同编号 下拉选择器值发生变化
		form.on('select(Contract_Number)', function (data) {
			var code = data.value;
			//console.log(code);

            // 选中空选项时，不请求数据
            if (data.value === '') {
                return;
            }

			// 每次值发生变化前 清除之前的值
            $('#Attention').html('');
            $('#Department').html('');

			//异步拉取信息
			$.ajax({
				type: 'get',
				url: "{:url('mk_inquiry/get_info')}",
				data: {'code': code},
				dataType: 'json',
				success: function (res) {
					//console.log(res.data);
					var info = res.data;
					var data = res.c;

                    // 拆分多文件名 追加下拉选项
                    var a_options = '', d_options = '';
                    for (var i = 0; i < data.length; i++) {
                        a_options += '<option value="' + data[i].Attention + '">' + data[i].Attention + '</option>';
                    }
                    for (var i = 0; i < data.length; i++) {
                        d_options += '<option value="' + data[i].Department + '">' + data[i].Department + '</option>';
                    }

                    //select重新追加option
                    $('#Attention').append(a_options);
                    $('#Department').append(d_options);
                    //刷新select选择框渲染
                    form.render("select");

					// 文本框写入默认值
					$.each(info, function (name, value) {
                        // input
                        $('#form [name=' + name + ']').val(value);
                        // select
                        $('#form select[name=' + name + ']').prop("selected", 'selected');
                        // 重新渲染表单
                        form.render();
					});
				}
			})
		});

        // 客户联系人 下拉选择器值发生变化
        form.on('select(Attention)', function (data) {
            var customer = data.value;
            //console.log(code);

            // 选中空选项时，不请求数据
            if (data.value === '') {
                return;
            }

            //异步拉取信息
            $.ajax({
                type: 'get',
                url: "{:url('mk_inquiry/get_bm')}",
                data: {'customer': customer},
                dataType: 'json',
                success: function (res) {

                    $('#Department').val(res.bm);

                    //刷新select选择框渲染
                    form.render("select");
                }
            })
        });

        // 主体公司 下拉选择器值发生变化
        form.on('select(Subject_Company)', function (data) {
            var name = data.value;
            //console.log(name);

            // 选中空选项时，不请求数据
            if (data.value === '') {
                return;
            }

            //异步拉取信息
            $.ajax({
                type: 'get',
                url: "{:url('xt_company/get_info')}",
                data: {'name': name},
                dataType: 'json',
                success: function (res) {
                    //console.log(res.data);
                    var info = res.data;

                    $('#form [name=Subject_Company_VAT_ID]').val(info.VAT_ID);

                    // 判断语言
                    if(language === '中文') {
                        $('#form [name=Subject_Company_Address]').val(info.CN_Address);
                        $('#form [name=Subject_Company_Bank_Info]').val(info.CN_Bank_Info);
                    }else{
                        $('#form [name=Subject_Company_Address]').val(info.EN_Address);
                        $('#form [name=Subject_Company_Bank_Info]').val(info.EN_Bank_Info);
                    }
                }
            })
        });

		// 表单验证
		var validatorFunc = function () {
			var validator = new Validator();

            validator.add('Sales', [{
                rule: 'require',
                msg: '销售不能为空'
            }]);

            validator.add('Attention', [{
                rule: 'require',
                msg: '客户联系人不能为空'
            }]);

            validator.add('Company_Full_Name', [{
				 rule: 'require',
				 msg: '公司全称不能为空'
			 }]);

			validator.add('Company_Name', [{
				 rule: 'require',
				 msg: '公司名称不能为空'
			}]);

			return validator.start();
		};

		// 数据提交
		$('#save').on('click', function () {

			// 表单验证
			var errorMsg = validatorFunc();
			if (errorMsg) {
				layer.alert(errorMsg, {title: '提示'});
				return false;
			}

            var tip = layer.msg('Data Uploading', {icon: 16, shade: 0.3, time:3000});

			// 表单提交
			$('#form').submit();
		});
	})
</script>
{/block}