{extend name="./layout/list.html" /}

{block name="body"}

	<body>
		<div class="hn_body">
			<div class="layui-fluid">
				<div class="layui-row">
					<div class="top">
						<div class="position_lead">
							<i class="iconfont icon-navigation"></i>
							<a href="{:url('Statistics/index')}">{:session('language') == '中文'? '数据统计' : 'Statistics Management'}</a>
							<a class="on">{:session('language') == '中文'? '项目助理综合考核' : 'Overall Evaluation of Project Assisstant'}</a>
						</div>
						<div class="global_btn">

							<button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

							<a href="javascript:history.back(-1);" id="back">
								<button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
							</a>
						</div>
					</div>
					<div class="mainCt mainSec formReset signLimit">
						<div class="mainWrap">

							<form class="layui-form" action="" id="form">

								<div class="layui-row layui-col-space10">

								{volist name="$field" id="v"}

									<!--日期 日历类型-->
									{if $v.Type == "datetime"}
									<div class="layui-col-xs4">
										<div class="layui-form-item layui_ic">
											<label class="layui-form-label" title="{:session('language') == '中文'? $v.Comment : str_replace('_' , '', $v.Field)}">
												{:session('language') == '中文'? $v.Comment : str_replace('_' , ' ', $v.Field)}
											</label>
											<div class="layui-input-block">
												<input class="showDate layui-input" name="{$v.Field}" placeholder="请选择" type="text">
												<i class="layui-icon layui-icon-date"></i>
											</div>
										</div>
									</div>
									{/if}

									<!--input 字符类型-->
									{if $v.Type == "varchar(100)" }
									<div class="layui-col-xs4">
										<div class="layui-form-item">
											<label class="layui-form-label" title="{:session('language') == '中文'? $v.Comment : str_replace('_' , '', $v.Field)}">
												{:session('language') == '中文'? $v.Comment : str_replace('_' , ' ', $v.Field)}
											</label>
											<div class="layui-input-block">
												<input name="{$v.Field}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
											</div>
										</div>
									</div>
									{/if}

									<!--input 字符类型-->
									{if $v.Type == "varchar(255)" }
									{if $v.Field != "Total_score" }
									<div class="layui-col-xs4">
										<div class="layui-form-item">
											<label class="layui-form-label" title="{:session('language') == '中文'? $v.Comment : str_replace('_' , '', $v.Field)}">
												{:session('language') == '中文'? $v.Comment : str_replace('_' , ' ', $v.Field)}
											</label>
											<div class="layui-input-block">
												<input name="{$v.Field}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
											</div>
										</div>
									</div>
									{/if}
									{/if}

									<!--input 整数类型-->
									{if $v.Type == "int(11)" }
									<div class="layui-col-xs4">
										<div class="layui-form-item">
											<label class="layui-form-label" title="{:session('language') == '中文'? $v.Comment : str_replace('_' , '', $v.Field)}">
												{:session('language') == '中文'? $v.Comment : str_replace('_' , ' ', $v.Field)}
											</label>
											<div class="layui-input-block">
												<input name="{$v.Field}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
											</div>
										</div>
									</div>
									{/if}

									<!--input 小数类型-->
									{if $v.Type == "float" }
									<div class="layui-col-xs4">
										<div class="layui-form-item">
											<label class="layui-form-label" title="{:session('language') == '中文'? $v.Comment : str_replace('_' , '', $v.Field)}">
												{:session('language') == '中文'? $v.Comment : str_replace('_' , ' ', $v.Field)}
											</label>
											<div class="layui-input-block">
												<input name="{$v.Field}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
											</div>
										</div>
									</div>
									{/if}

								{/volist}

									<input id="table" type="hidden" name="table_name" value="{$table}" />

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>

{/block}

{block name="js"}
{js href="__JS__/select.js"}

<script>

layui.use(['form','laydate'], function () {
	var form = layui.form, laydate = layui.laydate,layer = layui.layer;

	//同时绑定多个,单个日期选择，显示在input里面
	$('.showDate').click(function () {
		laydate.render({
			elem: this
			,trigger: 'click'
			,theme: '#1B3382'
			,position: 'fixed'
			//,isInitValue: true
			//,value: new Date()
			,type:'datetime'
			,format: 'yyyy-MM-dd HH:mm:ss'
		});
	});

	// 获取要提交的数据
	var getSubmitData = function () {
		var data = {};

		// 获取文本框的数据
		var serializeArray = $('#form input').serializeArray();
		$.each(serializeArray, function (index, field) {
			data[field.name] = field.value;
		});

		return data;
	};

	// 表单验证
	var validatorFunc = function () {
		var validator = new Validator();

		// 人员必填
		validator.add('Name', [{
			rule: 'require',
			msg: '人员姓名不能为空'
		}]);

		validator.add('Time', [{
			rule: 'require',
			msg: '时间不能为空'
		}]);

		return validator.start();
	};

	// 数据提交
	$('#save').on('click', function () {

		// 表单验证
		var errorMsg = validatorFunc();
		if (errorMsg) {
			layer.alert(errorMsg, {title: '提示'});
			return false;
		}

		console.log(getSubmitData());

		$.ajax({
			url: "{:url('Statistics/save')}",
			type: 'post',
			dataType: 'json',
			data: getSubmitData(),
			success: function (res) {

				layer.alert(res.msg, {title: '提示'}, function (index) {

					// 关闭alert
					layer.close(index);

					//返回列表页
					window.location.href = "{:url('opa_pa/index')}"
				});
			},
			error: function (jqXHR) {
				if (jqXHR.status === 422) {
					layer.alert(jqXHR.responseText, {title: '提示'}, function (index) {
						layer.close(index);
					});
				}
			}
		});
	});
})
</script>

{/block}
