{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? '项目管理' : 'Project Management'}</a>
					<a class="on">{:session('language') == '中文'? '项目总结' : 'Project Summary'}</a>
				</div>
                <div class="global_btn">

                    <button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

                    <a href="javascript:history.back(-1);">
                        <button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
                    </a>
                </div>
            </div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('pj_project_summary/update')}">

                        <div class="layui-row layui-col-space10">																																		
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '项目名称' : 'Project Name'}">
							            {:session('language') == '中文'? '项目名称' : 'Project Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Project_Name" lay-verify="required" disabled value="{$info.Project_Name|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>											
						</div>
						
						<div class="layui-row layui-col-space10">
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '语种' : 'Language'}">
							            {:session('language') == '中文'? '语种' : 'Language'}
							        </label>
									<div class="layui-input-block">
										<input name="Language" id="Language" type="text" value="{$info.Language}" autocomplete="off" placeholder="" class="layui-input">
									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '文件概况' : 'File Info'}">
										{:session('language') == '中文'? '文件概况' : 'File Info'}
									</label>
							        <div class="layui-input-block">
							            <input name="File_Info" lay-verify="required" value="{$info.File_Info|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '涉及产品' : 'Product Involved'}">
										{:session('language') == '中文'? '涉及产品' : 'Product Involved'}
									</label>
									<div class="layui-input-block">
										<input name="Product_Involved" lay-verify="required" value="{$info.Product_Involved|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs12">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '校对反馈' : 'Revision Summary'}">
							            {:session('language') == '中文'? '校对反馈' : 'Revision Summary'}
							        </label>
							        <div class="layui-input-block">
							            <textarea placeholder="" id="Revision_Summary" name="Revision_Summary" class="layui-textarea">{$info.Revision_Summary|default=''}</textarea>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs12">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '表达积累' : 'Useful Expression'}">
							            {:session('language') == '中文'? '表达积累' : 'Useful Expression'}
							        </label>
							        <div class="layui-input-block">
							            <textarea placeholder="" id="Useful_Expression" name="Useful_Expression" class="layui-textarea">{$info.Useful_Expression|default=''}</textarea>
							        </div>
							    </div>
							</div>	
							
							<div class="layui-col-xs12">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '项目总结' : 'Project Summary'}">
							            {:session('language') == '中文'? '项目总结' : 'Project Summary'}
							        </label>
							        <div class="layui-input-block">
							            <textarea placeholder="" id="Project_Summary" name="Project_Summary" class="layui-textarea">{$info.Project_Summary|default=''}</textarea>
							        </div>
							    </div>
							</div>
							<input type="hidden" name="id" value="{$info.id}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}

{js href="__JS__/xm-select.js"}

<script>

	layui.use(['form','laydate'], function () {
		var form = layui.form, laydate = layui.laydate,layer = layui.layer;

		//同时绑定多个,单个日期选择，显示在input里面
		$('.showDate').click(function () {
			laydate.render({
				elem: this
				,trigger: 'click'
				,theme: '#1B3382'
				,position: 'fixed'
				//,isInitValue: true
				//,value: new Date()
				,type:'datetime'
				,format: 'yyyy-MM-dd HH:mm:ss'
			});
		});

		// 表单验证
		var validatorFunc = function () {
			var validator = new Validator();

			// 必填项
			validator.add('Project_Name', [{
				rule: 'require',
				msg: '项目名称不能为空'
			}]);

			return validator.start();
		};

		// 数据提交
		$('#save').on('click', function () {

			// 表单验证
			var errorMsg = validatorFunc();
			if (errorMsg) {
				layer.alert(errorMsg, {title: '提示'});
				return false;
			}

            var tip = layer.msg('Data Uploading', {icon: 16, shade: 0.3, time:3000});

			// 表单提交
			$('#form').submit();
		});

	})
</script>
{/block}