{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? '项目管理' : 'Project Management'}</a>
					<a class="on">{:session('language') == '中文'? '项目汇总' : 'Contract Review'}</a>
				</div>
                <div class="global_btn">

                    <button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

                    <a href="javascript:history.back(-1);">
                        <button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
                    </a>
                </div>
            </div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('pj_contract_review/update')}">

                        <div class="layui-row layui-col-space10">
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '文件编号' : 'Filing_Code'}">
							            {:session('language') == '中文'? '文件编号' : 'Filing_Code'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Filing_Code" lay-verify="required" readonly value="{$info.Filing_Code|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '文件名称' : 'Job Name'}">
							            {:session('language') == '中文'? '文件名称' : 'Job Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Job_Name" lay-verify="required" value="{$info.Job_Name|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>																					
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '公司名称' : 'Company Name'}">
							            {:session('language') == '中文'? '公司名称' : 'Company Name'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Company_Name" lay-verify="required" value="{$info.Company_Name|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>									
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '页数' : 'Pages'}">
							            {:session('language') == '中文'? '页数' : 'Pages'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Pages" lay-verify="required" value="{$info.Pages|default=''}" autocomplete="off" placeholder="" class="layui-input" type="number">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '源语数量' : 'Source Text Word Count'}">
							            {:session('language') == '中文'? '源语数量' : 'Source Text Word Count'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Source_Text_Word_Count" lay-verify="required" value="{$info.Source_Text_Word_Count|default=''}" autocomplete="off" placeholder="" class="layui-input" type="number">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '文件类型' : 'File Type'}">
							            {:session('language') == '中文'? '文件类型' : 'File Type'}
							        </label>
							        <div class="layui-input-block">
										<select name="File_Type" lay-filter="File_Type" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$File_Type" id="v"}
											<option value="{$v.en_name}" {$info.File_Type==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name} </option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '服务' : 'Service'}">
							            {:session('language') == '中文'? '服务' : 'Service'}
							        </label>
									<div class="layui-input-block">
										<div id="fw" class="xm-select-demo"></div>
										<input name="Service" id="Service" type="hidden" value="{$info.Service}" autocomplete="off" placeholder="" class="layui-input">
									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '文件分类' : 'File Category'}">
							            {:session('language') == '中文'? '文件分类' : 'File Category'}
							        </label>
									<div class="layui-input-block">
										<div id="fc" class="xm-select-demo"></div>
										<input name="File_Category" id="File_Category" type="hidden" value="{$info.File_Category}" autocomplete="off" placeholder="" class="layui-input">
									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '语种' : 'Language'}">
							            {:session('language') == '中文'? '语种' : 'Language'}
							        </label>
							        <div class="layui-input-block">
										<select name="Language" lay-filter="Language" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$yy" id="v"}
											<option value="{$v.en_name}" {$info.Language==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name} </option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '排版难易程度' : 'Format Difficulty'}">
                                        {:session('language') == '中文'? '排版难易程度' : 'Format Difficulty'}
                                    </label>
                                    <div class="layui-input-block">
										<select name="Format_Difficulty" lay-filter="Format_Difficulty" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$pb" id="v"}
											<option value="{$v.en_name}" {$info.Format_Difficulty==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name} </option>
											{/volist}
										</select>
                                    </div>
                                </div>
                            </div>

							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '翻译难易程度' : 'Translation Difficulty'}">
							            {:session('language') == '中文'? '翻译难易程度' : 'Translation Difficulty'}
							        </label>
							        <div class="layui-input-block">
										<select name="Translation_Difficulty" lay-filter="Translation_Difficulty" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$fy" id="v"}
											<option value="{$v.en_name}" {$info.Translation_Difficulty==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name} </option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '翻译人员' : 'Translator'}">
							            {:session('language') == '中文'? '翻译人员' : 'Translator'}
							        </label>
							        <div class="layui-input-block">

										<div id="tr" class="xm-select-demo"></div>
										<input name="Translator" id="Translator" type="hidden" value="{$info.Translator}" autocomplete="off" placeholder="" class="layui-input">

							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '翻译开始时间' : 'Translation Start Time'}">
										{:session('language') == '中文'? '翻译开始时间' : 'Translation Start Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Translation_Start_Time" value="{$info.Translation_Start_Time|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '翻译交付时间' : 'Translation Delivery Time'}">
										{:session('language') == '中文'? '翻译交付时间' : 'Translation Delivery Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Translation_Delivery_Time" value="{$info.Translation_Delivery_Time|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '校对人员' : 'Reviser'}">
							            {:session('language') == '中文'? '校对人员' : 'Reviser'}
							        </label>
									<div class="layui-input-block">

										<div id="re" class="xm-select-demo"></div>
										<input name="Reviser" id="Reviser" type="hidden" value="{$info.Reviser}" autocomplete="off" placeholder="" class="layui-input">

									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '校对开始时间' : 'Revision Start Time'}">
										{:session('language') == '中文'? '校对开始时间' : 'Revision Start Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Revision_Start_Time" value="{$info.Revision_Start_Time|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '校对交付时间' : 'Revision Delivery Time'}">
										{:session('language') == '中文'? '校对交付时间' : 'Revision Delivery Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Revision_Delivery_Time" value="{$info.Revision_Delivery_Time|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
														
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '预排版人员' : 'Pre Formatter'}">
							            {:session('language') == '中文'? '预排版人员' : 'Pre Formatter'}
							        </label>
									<div class="layui-input-block">

										<div id="yp" class="xm-select-demo"></div>
										<input name="Pre_Formatter" id="Pre_Formatter" type="hidden" value="{$info.Pre_Formatter}" autocomplete="off" placeholder="" class="layui-input">

									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '预排版交付时间' : 'Post_Format Delivery Time'}">
										{:session('language') == '中文'? '预排版交付时间' : 'Post_Format Delivery Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" value="{$info.Pre_Format_Delivery_Time|default=''}" name="Pre_Format_Delivery_Time" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '后排版人员' : 'Post Formatter'}">
							            {:session('language') == '中文'? '后排版人员' : 'Post Formatter'}
							        </label>
									<div class="layui-input-block">

										<div id="hp" class="xm-select-demo"></div>
										<input name="Post_Formatter" id="Post_Formatter" type="hidden" value="{$info.Post_Formatter}" autocomplete="off" placeholder="" class="layui-input">

									</div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '后排版交付时间' : 'Post_Format Delivery Time'}">
										{:session('language') == '中文'? '后排版交付时间' : 'Post_Format Delivery Time'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Post_Format_Delivery_Time" value="{$info.Post_Format_Delivery_Time|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '客户期望提交日期' : 'Delivery Date Expected'}">
										{:session('language') == '中文'? '客户期望提交日期' : 'Delivery Date Expected'}
									</label>
									<div class="layui-input-block">
										<input class="showDate layui-input" name="Delivery_Date_Expected" value="{$info.Delivery_Date_Expected|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>
							
							<div class="layui-col-xs4">
								<div class="layui-form-item layui_ic">
									<label class="layui-form-label" title="{:session('language') == '中文'? '交付日期' : 'Completed'}">
										{:session('language') == '中文'? '交付日期' : 'Completed'}
									</label>
									<div class="layui-input-block">
										<input class="Date layui-input" name="Completed" value="{$info.Completed|default=''}" type="text">
										<i class="layui-icon layui-icon-date"></i>
									</div>
								</div>
							</div>							
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '是否交稿' : 'Delivered or Not'}">
							            {:session('language') == '中文'? '是否交稿' : 'Delivered or Not'}
							        </label>
							        <div class="layui-input-block">
										<select name="Delivered_or_Not" lay-filter="Delivered_or_Not">
											<option value="No" {$info.Delivered_or_Not=="No"?'selected':''}>No</option>
											<option value="Yes" {$info.Delivered_or_Not=="Yes"?'selected':''}>Yes</option>
											<option value="CXL" {$info.Delivered_or_Not=="CXL"?'selected':''}>CXL</option>
										</select>
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '客户联系人' : 'Attention'}">
							            {:session('language') == '中文'? '客户联系人' : 'Attention'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Attention" lay-verify="required" value="{$info.Attention|default=''}" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '项目助理' : 'PA'}">
										{:session('language') == '中文'? '项目助理' : 'PA'}
									</label>
									<div class="layui-input-block">
										<select name="PA" lay-filter="PA" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$pa" id="v"}
											<option value="{$v.name}" {$info.PA==$v.name?'selected':''}>{$v.name} </option>
											{/volist}
										</select>
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '项目经理' : 'PM'}">
										{:session('language') == '中文'? '项目经理' : 'PM'}
									</label>
									<div class="layui-input-block">
										<select name="PM" lay-filter="PM" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$pm" id="v"}
											<option value="{$v.name}" {$info.PM==$v.name?'selected':''}>{$v.name} </option>
											{/volist}
										</select>
									</div>
								</div>
							</div>

							<div class="layui-col-xs4">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '销售' : 'Sales'}">
										{:session('language') == '中文'? '销售' : 'Sales'}
									</label>
									<div class="layui-input-block">
										<select name="Sales" lay-filter="Sales" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$sales" id="v"}
											<option value="{$v.name}" {$info.Sales==$v.name?'selected':''}>{$v.name} </option>
											{/volist}
										</select>
									</div>
								</div>
							</div>

							<!--之前的报价单编号-->
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '是否首次合作？' : 'First Cooperation'}">
							            {:session('language') == '中文'? '是否首次合作？' : 'First Cooperation'}
							        </label>
							        <div class="layui-input-block">
										<select name="First_Cooperation" lay-filter="First_Cooperation" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$first" id="v"}
											<option value="{$v.en_name}" {$info.First_Cooperation==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>													
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '质量要求' : 'Quality Requirements'}">
							            {:session('language') == '中文'? '质量要求' : 'Quality Requirements'}
							        </label>
							        <div class="layui-input-block">
										<select name="Quality_Requirements" lay-filter="Quality_Requirements" lay-search>
											<option value="">{:session('language') == '中文'? '请选择' : 'Please Select'}</option>
											{volist name="$zl" id="v"}
											<option value="{$v.en_name}" {$info.Quality_Requirements==$v.en_name?'selected':''}>{:session('language') == '中文'? $v.cn_name : $v.en_name}</option>
											{/volist}
										</select>
							        </div>
							    </div>
							</div>
							

							<!--状态值 只能通过操作按钮去改变值-->
							{if(request()->action() == 'read')}
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '项目经理' : 'Approval Project Manager'}">
							            {:session('language') == '中文'? '项目经理' : 'Approval Project Manager'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Approval_Project_Manager" disabled value="{$info.Approval_Project_Manager|default=''}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							
							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '总经理' : 'Approval General Manager'}">
							            {:session('language') == '中文'? '总经理' : 'Approval General Manager'}
							        </label>
							        <div class="layui-input-block">
							            <input name="Approval_General_Manager" disabled value="{$info.Approval_General_Manager|default=''}" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>
							{/if}

							<div class="layui-col-xs6">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '客户要求' : 'Customer Requirements'}">
										{:session('language') == '中文'? '客户要求' : 'Customer Requirements'}
									</label>
									<div class="layui-input-block">
										<textarea placeholder="" id="Customer_Requirements" name="Customer_Requirements" class="layui-textarea">{$info.Customer_Requirements|default=''}</textarea>
									</div>
								</div>
							</div>

							<div class="layui-col-xs6">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '客户参考文件' : 'External Reference File'}">
										{:session('language') == '中文'? '客户参考文件' : 'External Reference File'}
									</label>
									<div class="layui-input-block">
										<textarea placeholder="" id="External_Reference_File" name="External_Reference_File" class="layui-textarea">{$info.External_Reference_File|default=''}</textarea>
									</div>
								</div>
							</div>

							<div class="layui-col-xs12">
								<div class="layui-form-item">
									<label class="layui-form-label" title="{:session('language') == '中文'? '备注' : 'Comment'}">
										{:session('language') == '中文'? '备注' : 'Comment'}
									</label>
									<div class="layui-input-block">
										<textarea placeholder="" id="Comment" name="Comment" class="layui-textarea">{$info.Comment|default=''}</textarea>
									</div>
								</div>
							</div>

							<input type="hidden" name="id" value="{$info.id}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}

{js href="__JS__/xm-select.js"}

<script>

	layui.use(['form','laydate'], function () {
		var form = layui.form, laydate = layui.laydate,layer = layui.layer;

		//同时绑定多个,单个日期选择，显示在input里面
        $('.Date').click(function () {
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,theme: '#1B3382'
                ,position: 'fixed'
                //,isInitValue: true
                //,value: new Date()
                //,type:'datetime'
                ,format: 'yyyyMMdd'
            });
        });

		$('.showDate').click(function () {
			laydate.render({
				elem: this
				,trigger: 'click'
				,theme: '#1B3382'
				,position: 'fixed'
				//,isInitValue: true
				//,value: new Date()
				,type:'datetime'
				,format: 'yyyy-MM-dd HH:mm'
                ,ready: function(date){
                    this.dateTime.hours=23;
                    this.dateTime.minutes=0;
                    //this.dateTime.seconds=59;
                }
			});
		});

        // 文件分类 多选
        var fc = '{$document_type|raw}';
        var fcData = JSON.parse(fc);
        var fcz = xmSelect.render({
            el: '#fc',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: fcData
        });

        // 服务多选
        var fw = '{$service_type|raw}';
        var fwData = JSON.parse(fw);
        var fwz = xmSelect.render({
            el: '#fw',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: fwData
        });

        // 人员多选
        var tr = '{$tr|raw}';
        var trData = JSON.parse(tr);
        var trz = xmSelect.render({
            el: '#tr',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: trData
        });

        var re = '{$re|raw}';
        var reData = JSON.parse(re);
        var rez = xmSelect.render({
            el: '#re',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: reData
        });

        var yp = '{$yp|raw}';
        var ypData = JSON.parse(yp);
        var ypz = xmSelect.render({
            el: '#yp',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: ypData
        });

        var hp = '{$hp|raw}';
        var hpData = JSON.parse(hp);
        var hpz = xmSelect.render({
            el: '#hp',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            paging: true,
            pageSize: 10,
            filterable: true,
            pageEmptyShow: false,
            theme: {
                color: '#0073FF'
            },
            data: hpData
        });

		// 表单验证
		var validatorFunc = function () {
			var validator = new Validator();

            validator.add('Company_Name', [{
                rule: 'require',
                msg: '公司名称不能为空'
            }]);

            validator.add('Job_Name', [{
                rule: 'require',
                msg: '文件名称不能为空'
            }]);

			// 日期必填项
			/*validator.add('Translation_Start_Time', [{
				rule: 'require',
				msg: '翻译开始时间不能为空'
			}]);

			validator.add('Translation_Delivery_Time', [{
				rule: 'require',
				msg: '翻译交付时间不能为空'
			}]);

			validator.add('Revision_Start_Time', [{
				rule: 'require',
				msg: '校对开始时间不能为空'
			}]);

			validator.add('Revision_Delivery_Time', [{
				rule: 'require',
				msg: '校对交付时间不能为空'
			}]);

			validator.add('Pre_Format_Delivery_Time', [{
				rule: 'require',
				msg: '预排版交付时间不能为空'
			}]);

			validator.add('Post_Format_Delivery_Time', [{
				rule: 'require',
				msg: '后排版交付时间不能为空'
			}]);

			validator.add('Completed', [{
				rule: 'require',
				msg: '交付日期不能为空'
			}]);*/

			// 数值验证
			validator.add('Pages', [{
				rule: 'isNum',
				msg: '页数只允许是数值数据'
			}]);

			validator.add('Source_Text_Word_Count', [{
				rule: 'isNum',
				msg: '源语数量只允许是数值数据'
			}]);

			return validator.start();
		};

		// 数据提交
		$('#save').on('click', function () {

			// 表单验证
			var errorMsg = validatorFunc();
			if (errorMsg) {
				layer.alert(errorMsg, {title: '提示'});
				return false;
			}

            var tip = layer.msg('Data Uploading', {icon: 16, shade: 0.3, time:3000});

            var fcArr = fcz.getValue();
            var fcLength = fcArr.length;
            var fcnamestr = '';
            for(var i=0; i< fcLength; i++ ) {
                fcnamestr += fcArr[i].name + ',';
            }
            fcnamestr = fcnamestr.substring(0, fcnamestr.length - 1);
            $('#File_Category').val(fcnamestr);

            var fwArr = fwz.getValue();
            var fwLength = fwArr.length;
            var fwnamestr = '';
            for(var i=0; i< fwLength; i++ ) {
                fwnamestr += fwArr[i].name + ',';
            }
            fwnamestr = fwnamestr.substring(0, fwnamestr.length - 1);
            $('#Service').val(fwnamestr);

            // 获取人员 多选值
            var trArr = trz.getValue();
            var trLength = trArr.length;
            var trnamestr = '';
            for(var i=0; i< trLength; i++ )
            {
                trnamestr += trArr[i].name + ',';
            }
            // 去除多余符号
            trnamestr = trnamestr.substring(0, trnamestr.length - 1);
            $('#Translator').val(trnamestr);

            var reArr = rez.getValue();
            var reLength = reArr.length;
            var renamestr = '';
            for(var i=0; i< reLength; i++ )
            {
                renamestr += reArr[i].name + ',';
            }
            // 去除多余符号
            renamestr = renamestr.substring(0, renamestr.length - 1);
            $('#Reviser').val(renamestr);

            var ypArr = ypz.getValue();
            var ypLength = ypArr.length;
            var ypnamestr = '';
            for(var i=0; i< ypLength; i++ )
            {
                ypnamestr += ypArr[i].name + ',';
            }
            // 去除多余符号
            ypnamestr = ypnamestr.substring(0, ypnamestr.length - 1);
            $('#Pre_Formatter').val(ypnamestr);

            var hpArr = hpz.getValue();
            var hpLength = hpArr.length;
            var hpnamestr = '';
            for(var i=0; i< hpLength; i++ )
            {
                hpnamestr += hpArr[i].name + ',';
            }
            // 去除多余符号
            hpnamestr = hpnamestr.substring(0, hpnamestr.length - 1);
            $('#Post_Formatter').val(hpnamestr);

			// 表单提交
			$('#form').submit();
		});
	})
</script>
{/block}