{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
                <div class="position_lead">
                    <i class="iconfont icon-navigation"></i>
                    <a>{:session('language') == '中文'? '客户管理' : 'Customer Management'}</a>
                    <a href="{:url('mk_inquiry/index')}">{:session('language') == '中文'? '来稿需求' : 'Inquiry'}</a>
                    <a class="on">{:session('language') == '中文'? '报价单' : 'Quote'}</a>
                </div>
                <div class="global_btn">

                    <button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

                    <a href="javascript:history.back(-1);">
                        <button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
                    </a>
                </div>
            </div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('mk_quote/save')}">

                        <div class="layui-row layui-col-space10">

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '文件名/内容' : 'Job Name'}">
                                        {:session('language') == '中文'? '文件名/内容' : 'Job Name'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Job_Name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '文件类型' : 'File Type'}">
                                        {:session('language') == '中文'? '文件类型' : 'File Type'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="File_Type" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '语种' : 'Language'}">
                                        {:session('language') == '中文'? '语种' : 'Language'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Language" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>


                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '页数' : 'Pages'}">
                                        {:session('language') == '中文'? '页数' : 'Pages'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Pages" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '单价' : 'Unit Price'}">
                                        {:session('language') == '中文'? '单价' : 'Unit Price'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Unit_Price" id="Unit_Price" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '单位' : 'Units'}">
                                        {:session('language') == '中文'? '单位' : 'Units'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Units" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '报价数量' : 'Quote Quantity'}">
                                        {:session('language') == '中文'? '报价数量' : 'Quote Quantity'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Quote_Quantity" id="Quote_Quantity" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
                                    </div>
                                </div>
                            </div>

                            <!--默认手填-->
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '应付金额' : 'Total Due'}">
                                        {:session('language') == '中文'? '应付金额' : 'Total Due'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="Total_Due" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="number">
                                    </div>
                                </div>
                            </div>


                            <!--默认手填-->
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '增值税' : 'VAT'}">
                                        {:session('language') == '中文'? '增值税' : 'VAT'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="VAT" id="VAT" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}

<script>


</script>

{/block}